.ch_name{
  /*border: solid 1px;*/
  height: 30px;
  font-size: 26px;
  font-family: serif;
  /*height: fit-content;  
  要怎麼讓border與字吻合? */
}

.ch_0{
  /*border: solid 1px;*/
  font-size: 18px;
  position: relative;
  top: 10px;
  font-family: cursive;
}

html, body{
  margin-top: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 0;
}

* {                                   /*讓它頁面不要左右滑動*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.back {
    position: absolute;
    color: white;
    background-color: #C0C0C0;
    Text-decoration: none;
    top: 7.5vw;
    transform: translateY(-50%);
    width: 7vw;
    height: 3vw;
    font-size: 1.5vw;
    text-align: center;
    line-height: 3vw;
    left: 3vw;
    border-radius: 10px;
    transition: 0.4s;
}


.image{
    position: relative;
    margin-left: 12%;
    width: 57vw;
    height: 80vh;
    background-size: 100%;

}


.show{
  border: solid 1px;
}



.border{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
/*  border: solid 1px;*/
  display: flex;
  margin: auto;
}




.enter {
    position: relative;
    color: white;
    background-color: skyblue;
    Text-decoration: none;
    top: 2.5vw;
    transform: translateY(-50%);
    width: 5vw;
    height: 3vw;
    font-size: 1.5vw;
    text-align: center;
    line-height: 3vw;
    border-radius: 10px;
    transition: 0.4s;
}